body {
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(244,180,42,1) 100%);
    margin: 0;
    font-family:  Ubuntu, Segoe UI,  Roboto, Oxygen,
       Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
  }
 
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }