.searchBar {
    float: center;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    margin-left: 0.2px;
    margin-bottom: 1rem;
    width: 350px; /* Ajusta este valor según tu preferencia */
    padding: 8px;
    border-radius:2rem;
  }
 

 
 
 